<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
     <context-param>
         <param-name>quartz:config-file</param-name>
         <param-value>quartz.properties</param-value>
     </context-param>
     <context-param>
         <param-name>quartz:shutdown-on-unload</param-name>
         <param-value>true</param-value>
     </context-param>
     <context-param>
         <param-name>quartz:wait-on-shutdown</param-name>
         <param-value>true</param-value>
     </context-param>
     <context-param>
         <param-name>quartz:start-on-load</param-name>
         <param-value>true</param-value>
     </context-param>
     <context-param>
        <param-name>quartz:scheduler-context-servlet-context-key</param-name>
          <param-value>QuartzServletContext</param-value>
      </context-param>
      
     <listener>
         <listener-class>org.quartz.ee.servlet.QuartzInitializerListener</listener-class>
     </listener>
     
	<servlet>
		<servlet-name>autocomplete</servlet-name>
		<servlet-class>org.unc.hive.servlet.AutocompleteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>suggest</servlet-name>
		<servlet-class>org.unc.hive.servlet.TermSuggestionServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ConceptBrowserService</servlet-name>
		<servlet-class>org.unc.hive.server.ConceptBrowserServiceImpl</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>IndexerService</servlet-name>
		<servlet-class>org.unc.hive.server.IndexerServiceImpl</servlet-class>
		<!-- <load-on-startup>1</load-on-startup> -->
	</servlet>

	<servlet>
		<servlet-name>FileUpload</servlet-name>
		<servlet-class>org.unc.hive.server.FileUpload</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>autocomplete</servlet-name>
		<url-pattern>/ac</url-pattern>
	</servlet-mapping>
	
		<servlet-mapping>
		<servlet-name>suggest</servlet-name>
		<url-pattern>/suggest</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ConceptBrowserService</servlet-name>
		<url-pattern>/hivewebrowser/ConceptBrowser</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>IndexerService</servlet-name>
		<url-pattern>/hivewebrowser/Indexer</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FileUpload</servlet-name>
		<url-pattern>/FileUpload</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>


</web-app>